<div class="row" style="margin: 15px;">

    <div class="col-2">
        <button class="btn btn-success" (click)="getAllUser()">Get Users</button>
    </div>
    

    <div class="col-2">
        <select class="form-select">
            @for(item of userList ; track $index)
            {
                <option>{{item.name}}</option>
            }
        </select>
    </div>



<!-- </div> -->
<!-- ------- -->

   

    <div class="col-2">
        <button class="btn btn-success" (click)="getAllProducts()">Get Products</button>
    </div>

    
    <div class="col-2">
        <select>
            @for(item of productList; track $index)
            {
                <option [value]="item.product_id">{{item.name}}</option>
            }
        </select>
    </div>
</div>
